*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    background:#8052ec;
    display: grid;
    place-items: center;
  }
  .clock{
    width: 320px;
    height: 320px;
    background-color: hsla(0, 0%, 50%,.5);
    background-clip:content-box;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.1);
    box-shadow: 30px 30px 35px rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img{
    width: 100%;
    opacity: 0.6;
    object-fit: contain;
  }
  .hand{
    position: absolute;
    background-color: rgba(255,255,255,.2);
    backdrop-filter:  blur(20px);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
  }
  .hour{
    height: 60px;
    width: 10px;
    top: 100px;
    background-color: rgb(255, 255, 255,.8);
  }
  .minute{
    height: 80px;
    width: 5px;
    top: 80px;
    background-color: white;
  }
  .seconds{
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: red;
  }